/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 .navbar-brand .title{
     color: white;
 }

 .image{
     border-radius: 50%;

     
     img{
         border-radius: 50%;
     }
 }

 .notification:not(:last-child){
     margin-bottom: 0;
 }

 .navbar-end .field{
     margin: auto;
 }



 .fa-thumbs-up{
     text-align: center;
     background-color: rgb(1, 1, 29);
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     color: red;
     padding-top: 6px;
     font-size: 15px;

     
 }

 .box{
     width: 70%;
     

 }

 .feeds-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
 }

 .like-content{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
 }

 .fa-thumbs-up{
     margin-right: 1rem;
 }

 .image{
     border-radius: 50%;

     img{
         border-radius: 50%;
     }
 }
 

 